body {
    background-color: black;
}

h1 {
    font-size: 70px;
    text-align: center;
    color: white;
}

.imagem img{
    position: absolute;
    height: 50%;
    width: 50%;
    left: 25%;
}